.game-container {
    margin-top: 3%;
    height: 135px;
    width: 180px;
    
}

.game-container .game-img {
    background: url('../games/2048/gameplay.gif');
    width: 180px;
    height: 135px;
    background-repeat: no-repeat;
    background-size: 180px 135px;
    display: inline-block;
}

